<xuer-drawer class="drawer-container">
  <div class="drawer-bg" action-close ></div>
  <div class="drawer-main" >
    <div class="drawer-header">
      <div class="title h4"></div>
      <div class="close" action-close>
        {% render 'icon', name: 'close' %}
      </div>
    </div>
    <div class="drawer-content-wrapper" drawer-content-wrapper>
      <div class="drawer-content  xuer-animated xuer-animate_delay" drawer-content >
  
      </div>
    </div>
  </div>
</xuer-drawer>

<template id="search-tpl" data-title="{{ 'header.search.title' | t }}">
  <xuer-drawer-search class="search-container">
    <div class="search-form-container">
      <form id="predictive-search-form" class="search-form" action="{{ routes.search_url }}" method="get" autocomplete="off">
        <input type="hidden" name="type" value="product">
        <input type="hidden" name="options[prefix]" value="last">
        <div class="search-input">
          {% render 
            'form-input', 
            id: "q", 
            name: "q", 
            label: 'general.search', className: "search" ,
            submit_button: true,
            submit_button_icon: 'search'
          %}
        </div>
      </form>
    </div>
    <div class="search-suggest-wrapper" search-result >
      
    </div>

    <div class="search-loading xuer-loading" search-loading >
      {% render 'icon', name: 'loading' %}
    </div>
  </xuer-drawer-search>
</template>


{% comment %} country {% endcomment %}
<template id="country-tpl" data-title="{{ 'localization.country_label' | t }}">
  <xuer-localization-form class="localization-container  drawer-main">
    {%- form 'localization', id: "localization-form", class: 'selectors-form' -%}
      <div class="form-item">
        <xuer-selector class="xuer-selector">
          <button type="button" class="form-selected">
            <span class="localization-item-label">{{ localization.country.name }}</span>
            <span class="localization-item-isocode">({{ country.currency.iso_code }}&nbsp;{{ country.currency.symbol }})</span>
          </button>
          <ul xuer-selector-list >
            {% for country in localization.available_countries %}
              <li 
                class="localization-select-item {% if country.iso_code == localization.country.iso_code %} active{% endif %}"
                data-value="{{ country.currency.iso_code }}"
              >
                <span class="localization-item-label">{{ country.name }}</span>
                <span class="localization-item-isocode">({{ country.currency.iso_code }}&nbsp;{{ country.currency.symbol }})</span>
              </li>
            {%- endfor -%}
          </ul>
        </xuer-selector>
        <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}" />
      </div>
      <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}" />
    {%- endform -%}
  </xuer-localization-form>
</template>

{% comment %} language {% endcomment %}
<template id="language-tpl" data-title="{{ 'localization.country_label' | t }}">
  <xuer-localization-form class="localization-container drawer-main ">
    {%- form 'localization', id: "localization-form", class: 'selectors-form' -%}
      <div class="form-item">
        <div class="xuer-list-selector" xuer-list-selector>
          <div class="form-selected" >
            <span class="localization-item-label">{{- localization.language.endonym_name | capitalize -}}</span>
          </div>
          <ul xuer-list >
            {% for language in localization.available_languages %}
              {%- liquid
                assign is_checked = false
                if language.iso_code == localization.language.iso_code
                  assign is_checked = true
                endif
              -%}
              <li class="localization-select-item {% if is_checked %} checked{% endif %}" data-value="{{ language.iso_code }}">
                {% render 'form-radio', is_checked: is_checked, value: language.iso_code, name: 'language', label: language.endonym_name | capitalize %}
              </li>
            {%- endfor -%}
          </ul>
          
          <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}" />
        </div>
      </div>
      <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}" />
      <button type="submit">{{ 'general.confirm' | t }}</button>
    {%- endform -%}
  </xuer-localization-form>
</template>



