
{% comment %}

  Accepts:
  - id: {String} 
  - name: {String} 
  - label: {String} 
  - className: {String} 

{% endcomment %}
{%- liquid
  assign val = 0
  if value == 1 or value == '1' or value == true or value == 'true'
    assign val = 1
  endif
-%}
<xuer-form-checkbox>
  <div class="xuer-checkbox_wrapper  {{ className }}">
    <input type="checkbox" class="xuer-checkbox" xuer-checkbox name="{{ name }}" id="{{ id }}" value="{{ val }}"
    {%- if val == 1 -%} checked="true" {%- endif -%}
    >
    <div class="xuer-fake-rect"></div>
    <label for="{{ id }}" class="xuer-checkbox_label">{{ label | t }}</label>
  </div>
</xuer-form-checkbox>
