
{% comment %}
  Renders a radio

  Accepts:
  - text: {String}
  - label: {String}
  - size: {String}
  - is_outline: {Boolean} 
  - className: {String} 
  - is_block: {Boolean} 
  - uppercase: {Boolean} 
  - type: {String} 
  - attrs: {String}
  - link: {String}

  Usage:
  {% render 'form-radio', is_checked: true,value: 'red',name: 'color', label: 'color'   %}
{% endcomment %}



{%- liquid
  assign type = type | default: 'text'
  assign size_class = size

  if is_block == true
    assign block_class = "xuer-button_block"
  endif

  if uppercase == true
    assign uppercase_class = "xuer-uppercase"
  endif

-%}
{% if link != blank %}
<a href="{{ link }}" class="xuer-button_wrapper">
{% endif %}
  <button 
    class="xuer-button  {{ size_class }} {{ className }} {{ block_class }} {{ uppercase_class }}"
    {% if type != blank %} 
      type="{{ type }}"
    {% endif %}
    {{ attrs }}
  >
    <div class="xuer-button-content">
      {% render 'icon', name: 'loading' %}
      <span xuer-button-text >
        {{ text | t }} {{ label }}
      </span>
    </div>
  </button>
{% if link != blank %}
</a>
{% endif %}