
{% comment %}

  Accepts:
  - id: {String} 
  - name: {String} 
  - label: {String} 
  - text: {String} 
  - change_value: {String} 
  - checked: {Boolean} 
  - use_val: {Boolean} 
  - className: {String} 

{% endcomment %}
{%- liquid
  assign val = 0
  if value == 1 or value == '1' or value == true or value == 'true'
    assign val = 1
  endif
  if use_val
    assign val = value
  endif
  assign change_value_local = true
  if change_value == false
    assign change_value_local = false
  endif
-%}
<xuer-form-checkbox change_value="{{ change_value_local }}">
  <div class="xuer-checkbox_wrapper  {{ className }}">
    <input type="checkbox" class="xuer-checkbox" xuer-checkbox name="{{ name }}" id="{{ id }}" value="{{ val }}"
    {%- if checked -%} checked="true" {%- endif -%}
    >
    <div class="xuer-fake-rect"></div>
    <label for="{{ id }}" class="xuer-checkbox_label">
      {{ label | t }} {{ text }}
    </label>
  </div>
</xuer-form-checkbox>
