
<xuer-header-menu class="header-menu-warpper">
  {%- if section.menu != blank -%}
    <nav class="menu-menu">
      <ul>
        {%- for link in section.menu.links -%}
          <li class="{% if link.current %}menu-item-active{% endif %}">
            {%- if link.links != blank -%}
              <a href="{{ link.url }}">
                {{ link.title | escape }}
              </a>
              <ul class="sub-menu">
                {%- for childlink in link.links -%}
                  {%- if childlink.links != blank -%}
                    <li class="{% if childlink.current %}menu-item-active{% endif %}">
                      <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                      <ul class="sub-menu">
                          {%- for grandsons in childlink.links -%}
                            <li class="{% if grandsons.current %}menu-item-active{% endif %}">
                              <a href="{{ grandsons.url }}">{{ grandsons.title | escape }}</a>
                            </li>
                          {%- endfor -%}
                      </ul>
                    </li>
                  {%- else -%}
                    <li class="{% if childlink.current %}menu-item-active{% endif %}">
                      <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                    </li>
                  {%- endif -%}
                {%- endfor -%}
              </ul>
            {%- else -%}
              <a 
                href="{{ link.url }}" 
                class="{% if link.current %} menu-item-active{% endif %}" 
              >
                {{ link.title | escape }}
              </a>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    </nav>
  {%- endif -%}
  <div class="desktop-menu" >
    <div>
      
    </div>
  </div>
</xuer-header-menu>



