{% comment %}

  Accepts:
  - width: {Number} 
  - max_width: {Number} 
  - min_aspect_ratio: {Number} 
  - aspect_ratio: {Number} 
  - height: {Number}
  - is_cover: {Boolean}
  - is_inbox: {Boolean}
  - fix_height: {Boolean}
  - enable_loading: {Boolean}
  - image_wrapper_class: {String}
  - alt: {String}
  - sizes: {String}
  - image_background_fixed: {Boolean}


  

{% endcomment %}


{%- liquid

  if max_width
    assign width = width | at_most: max_width
  endif

  assign min_aspect_ratio = min_aspect_ratio | default: 0

  if aspect_ratio != blank
    assign local_aspect_ratio = aspect_ratio
  else
    if image != blank
      assign local_aspect_ratio = image.aspect_ratio | at_least: min_aspect_ratio
    else
      assign local_aspect_ratio = 1
    endif
  endif
  assign wrapper_style = ''
  if width != blank
    assign wrapper_style_width = width | prepend: 'width:' | append: 'px;'
    assign wrapper_style = wrapper_style | append: wrapper_style_width
  endif
  if height != blank
    assign wrapper_style_height = height | prepend: 'height:' | append: 'px;'
    assign wrapper_style = wrapper_style | append: wrapper_style_height
  endif

  assign srcset_arr = '180, 220, 300, 360, 460, 540, 720, 900, 1080, 1296, 1512, 1728, 2048'
  assign array_sizes = srcset_arr | remove: ' ' | split: ','
  
  assign src_list = ''
  
  for size in array_sizes
    assign size_str = size | append: 'w'
    assign image_url_str = image | image_url: width: size, crop: crop
    
    assign full_url = image_url_str | append: ' ' | append: size_str
    
    assign src_list = src_list | append: full_url
    if  forloop.last == false
      assign src_list = src_list | append: ','
    endif
  endfor
-%}
<div class="xuer-image-outer-wrapper {{ image_wrapper_class }} {% if is_cover %} is_cover {% endif %} {% if is_inbox %} is_inbox {% endif %} {% if image == blank %} is_placeholder {% endif %} {% if fix_height %} fix_height {% endif %} {% if image_background_fixed %} image_background_fixed {% endif %}"
  style="{{ wrapper_style }}"
>
  {% if image_background_fixed %}
    <div class="xuer-image_background" style="background-image:url({{ image | image_url }})"></div>
  {% else %}
    <div class="xuer-image-wrapper"
      style="padding-top:{{ 1 | divided_by: local_aspect_ratio | times: 100 }}%"
      xuer-image
    >
      {% if image == blank %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder-background' }}
      {% else %}
        <img 
          style="{{ wrapper_style }}"
          alt="{{ alt | default: image.alt | escape }}" 
          srcset="{{ src_list }}"
          srcset="{% if image.width >= 288 %}{{ image | image_url: width: 288 }} 288w,{% endif %}
          {% if image.width >= 576 %}{{ image | image_url: width: 576 }} 576w,{% endif %}
          {% if image.width >= 550 %}{{ image | image_url: width: 550 }} 550w,{% endif %}
          {% if image.width >= 1100 %}{{ image | image_url: width: 1100 }} 1100w,{% endif %}
          {{ image | image_url }} {{ image.width }}w"
          {% if sizes != blank %}
            sizes="{{ sizes }}"
          {% else %}
            sizes="100vw"
          {% endif %}
          loading="lazy" 
          class="xuer-image {{ img_class }} {% if cover %}cover{% endif %}"
          />
        {% if enable_loading %}
          {% render 'icon', name: 'loading' %}
        {% endif %}
      {% endif %}
    </div>
      
  {% endif %}
</div>