
{%- liquid
  assign use_slide = false
  if product.media.size > 1
    assign use_slide = true
  endif
-%}

<xuer-product-slide class="product-slide custom-section" {% if use_slide %} use-slide{% endif %} data-section-id="{{ section.id }}">
  <div class="swiper-container product-slide_main" swiper swiper-main id="product-slide-main-{{ section.id }}">
    <div class="swiper-wrapper">
      {%- for media in product.media -%}
        <div class="swiper-slide">
          {% render 'media', media: media, min_aspect_ratio: min_aspect_ratio %}
        </div>
      {%- endfor -%}
    </div>
    {% if use_slide %}
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    {% endif %}
  </div>
  {% if use_slide %}
    <div class="swiper-container product-slide_thumbnail" swiper swiper-thumbnail id="product-slide-thumbnail-{{ section.id }}">
      <div class="swiper-wrapper">
        {%- for media in product.media -%}
          <div class="swiper-slide" data-media-id="{{ section.id }}-{{ media.id }}" >
            {% render 'media', media: media, min_aspect_ratio: min_aspect_ratio %}
          </div>
        {%- endfor -%}
      </div>
    </div>
  {% endif %}

</xuer-product-slide>