{%- assign blog = blogs[section.settings.blog] -%}
<section class="page_width blog-posts xuer-animated xuer-animated-opacity" xuer-animated>
  {% if section.settings.title != blank %}
    <h2 class="xuer-h2 xuer-section-title">{{ section.settings.title }}</h2>
  {% endif %}
  
  {% if section.settings.blog == blank %}
    <div class="article-list xuer-row "  >
      {% for i in (1..section.settings.articles_count) %}
      <div class="article xuer-col col-4 ">
        <div class="article-main">
          <div class="article-main_image">
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder-background' }}
          </div>
          <div class="article-main_info">
            <h3 class="article-main_title xuer-h5">
              {{ 'sections.blog_title' | t }}
            </h3>
            {%- if section.settings.show_excerpt -%}
              <p class="atticle-main_excerpt">
                {{ 'sections.blog_excerpt' | t }}
              </p>
            {%- endif -%}
            <div class="article-main_create">
              {% if section.settings.show_date %}
                {{ 'now' | date: '%d. %B, %Y' }}
              {% endif %}
              {% if section.settings.show_author %}
                {% if section.settings.show_date %}&mdash;{% endif %}
                <span class="author">{{ 'sections.blog_author' | t }}</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  {% elsif blog.articles.size == 0 %}
    <p class="xuer-section-empty-info">{{ 'sections.blog_post_empty' | t }}</p>
  {% else %}
  <div class="article-list xuer-row xuer-animated xuer-animated-opacity"  xuer-animated>
    {% for article in blog.articles limit: section.settings.articles_count %}
    <div class="article xuer-col col-4  xuer-image-enlarge ">
      <div class="article-main">
        <div class="article-main_image">
          {% 
            render 'image', 
            image: article.image, 
            aspect_ratio: section.settings.image_ratio, 
            object_fit: 'cover',
            sizes: '33vw'
          %}
        </div>
        <div class="article-main_info">
          <h3 class="article-main_title xuer-h4"><a href="{{ article.url }}">{{ article.title | escape }}</a></h3>
          {%- if section.settings.show_excerpt -%}
            <p class="atticle-main_excerpt">
              {%- if article.excerpt.size > 0 -%}
                {{ article.excerpt }}
              {%- else -%}
                {{ article.content | strip_html | truncatewords: 30 }}
              {%- endif -%}
            </p>
          {%- endif -%}
          <div class="article-main_create">
            {% if section.settings.show_date %}
              {{ article.published_at | date: '%d. %B, %Y' }}
            {% endif %}
            {% if section.settings.show_author %}
              {% if section.settings.show_date %}&mdash;{% endif %}
              <span class="author">{{ article.author }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

</section>
{% schema %}
{
  "name": "Blog posts",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Blog posts"
    },
    {
      "type": "range",
      "id": "articles_count",
      "label": "Blog posts to show",
      "min": 3,
      "max": 12,
      "step": 3,
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "show_category",
      "label": "Show category",
      "info": "The first article's tag will be shown as category.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "Show excerpt",
      "info": "Change excerpts by editing your blog posts. [Learn more](https://help.shopify.com/en/manual/online-store/blogs/writing-blogs#display-an-excerpt-from-a-blog-post)",
      "default": false
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "Image ratio",
      "options": [
        {
          "value": "",
          "label": "Natural (no crop)"
        },
        {
          "value": "0.67",
          "label": "Portrait (2:3)"
        },
        {
          "value": "1.0",
          "label": "Square (1:1)"
        },
        {
          "value": "1.33",
          "label": "Landscape (4:3)"
        },
        {
          "value": "1.78",
          "label": "Wide (16:9)"
        }
      ],
      "default": "1.78"
    }
  ],
  "presets": [
    {
      "name": "Blog posts",
      "settings": {
        "blog": "news"
      }
    }
  ]
}
{% endschema %}