
{%- liquid
  assign product = all_products[section.settings.product]
  assign min_aspect_ratio = 0.6
  assign current_variant = product.selected_or_first_available_variant
  
  for block in section.blocks
    if block.type == 'variant_picker' and block.settings.select_first_variant == false
      assign current_variant = product.selected_variant | default: false
    endif
  endfor
  assign product_form_id = 'product-form-' | append: section.id
-%}


<xuer-featured-product 
  class="featured-product page_width custom-section product-section xuer-shopify-section {% if section.settings.use_section_space %} use_section_space{%- endif -%} {% if section.settings.use_alt_color %} use_alt_color{%- endif -%}"
  id="{{ section.id }}"
>
  <div class="product_slide">
    {% render 'product-slide', product: product, min_aspect_ratio: min_aspect_ratio %}
  </div>
  <div class="product_blocks">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when '@app' %}
          {% render block %}

        {% when 'title' %}
          <div class="product_row" >
            {% if product != blank %}
              <h2 class="xuer-h1 title">{{ product.title | link_to: product.url }}</h2>
            {% else %}
              <h2 class="xuer-h1 title">{{ 'product.product_title' | t }}</h2>
            {% endif %}
          </div>

        {% when 'price' %}
          <div class="product_row xuer-h4" >
            {% render 'price', product: product %}
          </div>

        {% when 'variant_picker' %}
          <div class="input-row" >
            {% if product != blank %}
              {% render 'variant-picker', section: section, product: product, block: block %}
            {% endif %}
          </div>

        {% when 'buy_buttons' %}
          <div class="product-form">
            {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled >
              <div class="xuer-line2">
                {% render 'quantity-selector', quantity: 1, name: "quantity" %}
              </div>
              <div class="product-form__buttons">
                {% render 'form-button', text: 'product.add_to_cart', className: 'product_row', is_block: true, type: 'submit', attrs: "add-to-cart" %}
                {{ form | payment_button }}
              </div>
            {%- endform -%}
          </div>

        {% when 'description' %}
          <div class="product_row" >
            {{ product.description }}
          </div>

        {% when 'vendor' %}
          {%- liquid
            assign product_vendor_handle = product.vendor | handle
            if collections[product_vendor_handle].handle == product_vendor_handle
              assign vendor_url = collections[product_vendor_handle].url
            else
              assign vendor_url = product.vendor | url_for_vendor
            endif
          -%}
          <div class="vendor lightly-spaced-row" >
            {{ product.vendor | link_to: vendor_url }}
          </div>

        {% when 'sku' %}
          <div class="sku {% if current_variant and current_variant.sku == blank %}sku--no-sku{% endif %}" >
            {{- current_variant.sku -}}
          </div>

        {% when 'richtext' %}
          {% if block.settings.richtext != blank %}
            <div class="lightly-spaced-row" >
              <div class="rte cf">{{ block.settings.richtext }}</div>
            </div>
          {% endif %}

      {% endcase %}
    {% endfor %}
  </div>
  
</xuer-featured-product>
{% schema %}
{
  "name": "Featured product",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "checkbox",
      "id": "use_alt_color",
      "label": "Use alternate section color",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "use_section_space",
      "label": "Use section space",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_tax_and_shipping",
          "label": "Show tax status and shipping policy link",
          "default": false
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "vendor",
      "name": "Vendor",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "Variant picker",
      "limit": 1
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_quantity_selector",
          "label": "Show quantity selector",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_payment_button",
          "label": "Show dynamic checkout button",
          "default": true
        }
      ]
    },
    {
      "type": "richtext",
      "name": "Richtext",
      "settings": [
        {
          "type": "richtext",
          "id": "richtext",
          "label": "Rich text",
          "default": "<p>Rich text block</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured product",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "price"
        },
        {
          "type": "variant_picker"
        },
        {
          "type": "buy_buttons"
        },
        {
          "type": "description"
        }
      ]
    }
  ]
}
{% endschema %}
