

{%- capture image -%}
<div class="image-container">
  {%- 
    render 'image', 
    image: section.settings.image,
    sizes: '50vw'
  -%}
</div>
{%- endcapture -%}

{%- capture text -%}
<div class="text-container">
  <div class="main">
    {%- if section.settings.title != blank -%}
      <h2 class="xuer-h2 xuer-line4">{{ section.settings.title | escape }}</h2>
    {%- endif -%}

    <div class="content xuer-line4">
      {{ section.settings.content }}
    </div>
    {%- liquid
      if section.settings.button_link != blank and section.settings.button_label != blank
        assign label = section.settings.button_label | escape
        render 'form-button', label: label, link: section.settings.button_link
      endif      
    -%}
  </div>
</div>
{%- endcapture -%}

{% style %}
#section-{{ section.id }} {
  --text_alignment: {{ section.settings.text_alignment }};
}
{% endstyle %}
<div id="section-{{ section.id }}" class="image-with-text page_width xuer-shopify-section xuer-animate_fadeInUp {% if section.settings.image_position == 'bottom' %} image-bottom {%- endif -%} {% if section.settings.use_section_space %} use_section_space{%- endif -%} {% if section.settings.use_alt_color %} use_alt_color{%- endif -%}" xuer-animated >
  <div class="xuer-row xuer-vertical-center">
    {%- if section.settings.image_position == 'left' -%}
      <div class="xuer-col xuer-col-left" style="width: {{ section.settings.image_width }}%;"> {{ image }} </div>
      <div class="xuer-col xuer-flex-1 xuer-col-right"> {{ text }} </div>
    {%- else -%}
    <div class="xuer-col xuer-flex-1 xuer-col-left"> {{ text }} </div>
    <div class="xuer-col xuer-col-right" style="width: {{ section.settings.image_width }}%;"> {{ image }} </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Image with text",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1200 x 800px .jpg recommended"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "image_width",
      "min": 20,
      "max": 70,
      "step": 5,
      "unit": "%",
      "label": "Image width",
      "default": 50
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Image with text"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Text",
      "default": "<p>Use this text to share information about your brand with your customers.<br>Describe a product, share announcements, or welcome customers to your store.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button",
      "default": "Read more"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link",
      "default": "/collections/all"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "checkbox",
      "id": "use_alt_color",
      "label": "Use alternate section color",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "use_section_space",
      "label": "Use section space",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Image with text",
      "settings": {
      }
    }
  ]
}
{% endschema %}
