
{%-liquid
  assign order_date = order.created_at | time_tag: format: "date_at_time"
  
-%}

<div class="account account-main page_width">
  <main class="account-main_main">
    <h1 class="account-main_title xuer-line2 xuer-uppercase">
      {{ 'account.order' | t: name: order.name }}
    </h1>
    <h3 class="xuer-line2 ">{{ 'account.date_html' | t: date: order_date }}</h3>
    <div class="account-main_address xuer-row xuer-line4">
      <div class="account-main_address-left xuer-col col-6">
        <h5 class="xuer-h5 xuer-line2">{{ 'account.billing_address' | t }}</h5>
        <p>
          <span class="note">{{ 'account.payment_status' | t }}:</span> 
          <span >{{ order.financial_status_label }}</span>
        </p>
        <div class="address note">
          <p>{{ order.billing_address.name }}</p>
          <p>{{ order.billing_address.company }}</p>
          <p>{{ order.billing_address.street }}</p>
          <p>{{ order.billing_address.city }}, {{ order.billing_address.province }}</p>
          <p>{{ order.billing_address.country }} {{ order.billing_address.zip }}</p>
          <p>{{ order.billing_address.phone }}</p>
        </div>
      </div>
      {% if order.shipping_address %}
        <div class="account-main_address-right xuer-col col-6">
          <h5 class="xuer-h5 xuer-line2">{{ 'account.shipping_address' | t }}</h5>
          <p><span class="note">{{ 'account.fulfillment_status' | t }}:</span> <span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status_label }}</span></p>
          <div class="address note">
            <p>{{ order.shipping_address.name }}</p>
            <p>{{ order.shipping_address.company }}</p>
            <p>{{ order.shipping_address.street }}</p>
            <p>{{ order.shipping_address.city }}, {{ order.shipping_address.province }}</p>
            <p>{{ order.shipping_address.country }} {{ order.shipping_address.zip }}</p>
            <p>{{ order.shipping_address.phone }}</p>
          </div>
        </div>
      {% endif %}
    </div>

    <div class="order-table-container xuer-line4">
      <table id="order_details" class="xuer-table">
        <thead>
          <tr>
            <th>{{ 'account.product' | t }}</th>
            <th>{{ 'account.sku' | t }}</th>
            <th>{{ 'account.price' | t }}</th>
            <th>{{ 'account.quantity' | t }}</th>
            <th>{{ 'account.total' | t }}</th>
          </tr>
        </thead>
        <tbody>
          {% for line_item in order.line_items %}
          <tr id="{{ line_item.id }}" class="{% cycle 'odd', 'even' %}">
            <td><a href="{{ line_item.url }}">{{ line_item.product.title }}</a></td>
            <td>{{ line_item.sku }}</td>
            <td class="price">
              {% if line_item.original_line_price > line_item.final_line_price %}
                <div class="struck-out-price">{{ line_item.original_price | money }}</div>
              {% endif %}
              <div class="product-price">{{ line_item.final_price | money }}</div>
            </td>
            <td>{{ line_item.quantity }}</td>
            <td>{{ line_item.final_line_price | money }}</td>
          </tr>
          {% endfor %}
        </tbody>


        <tfoot>
          <tr>
            <td class="label" colspan="4">{{ 'account.subtotal' | t }}:</td>
            <td class="total">{{ order.line_items_subtotal_price | money }}</td>
          </tr>

          {% for shipping_method in order.shipping_methods %}
          <tr class="order_summary note">
            <td class="label" colspan="4">{{ 'account.shipping' | t }} ({{ shipping_method.title }}):</td>
            <td class="total">{{ shipping_method.price | money }}</td>
          </tr>
          {% endfor %}

          {% for tax_line in order.tax_lines %}
          <tr class="order_summary note">
            <td class="label" colspan="4">{{ 'account.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%):</td>
            <td class="total">{{ tax_line.price | money }}</td>
          </tr>
          {% endfor %}

          <tr class="order_summary order_total">
            <td class="label" colspan="4">{{ 'account.total' | t }}:</td>
            <td class="total">
              {{- order.total_price | money -}}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </main>
</div>

{% schema %}
{
  "name": "t:sections.main-order.name",
  "settings": [
  ]
}
{% endschema %}
