<div class="account account-main page_width">
  <aside class="account-main_aside">
    <div class="account-main_info">
      <h2 class="account-main_user xuer-h4 xuer-line2">
        {{ customer.email }}
      </h2>
      <div  class="xuer-line2 account-main_logout xuer-underline">
        {% render 'icon', name: 'account' %}
        <a href="{{ routes.account_logout_url }}">
          {{ 'account.log_out' | t }}
        </a>
      </div>
    </div>
    <div class="account-menu">
      <ul>
        <li class="account-menu_item orders ">
          <a href="{{ routes.customer_url }}">
          {{ 'account.orders' | t }}
          </a>
        </li>
        <li class="account-menu_item address active">
          <a href="{{ routes.account_addresses_url }}">
          {{ 'account.addresses' | t }}
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <main class="account-main_main">
    <h1 class="account-main_title xuer-h1">
      {{ 'account.addresses' | t }}
      ({{ customer.addresses_count }})
    </h1>
    <p class="account-main_info xuer-line2">
      {{ 'account.no_addresses' | t }}
    </p>
    <p>
      {{ customer.default_address | format_address }}
    </p>



    <div class="add-address" drawer-open data-action-type="add-address-tpl">
      {% render 'form-button', text: 'account.add_addresses', className: 'xuer-line2' %}
    </div>
    {%- paginate customer.addresses by 5 -%}
      <ul role="list">
        {%- for address in customer.addresses -%}
          <li data-address>
            {{ address | format_address }}
          </li>
        {%- endfor -%}
      </ul>
    {%- endpaginate -%}

  </main>
</div>

<template id="add-address-tpl" data-title="{{ 'account.add_addresses' | t }}">
  <xuer-address-form class="address-form drawer-padding-container ">
    {%- form 'customer_address', customer.new_address, class: 'form' -%}
      {%- liquid
        render 'form-error-msg', form: form, multi: true
        render 'form-input', id: "address-new[first_name]", name: "address-new[first_name]", label: 'account.first_name', className: "xuer-line2"
        render 'form-input', id: "address-new[last_name]", name: "address-new[last_name]", label: 'account.last_name', className: "xuer-line2"
        render 'form-input', id: "address-new[company]", name: "address-new[company]", label: 'account.company', className: "xuer-line2"
        render 'form-input', id: "address-new[phone]", name: "address-new[phone]", label: 'account.phone', className: "xuer-line2"
        render 'form-input', id: "address-new[address1]", name: "address-new[address1]", label: 'account.addresse1', className: "xuer-line2"
        render 'form-input', id: "address-new[address2]", name: "address-new[address2]", label: 'account.addresse2', className: "xuer-line2"
        render 'form-input', id: "address-new[city]", name: "address-new[city]", label: 'account.city', className: "xuer-line2"
        render 'form-input', id: "address-new[zip]", name: "address-new[zip]", label: 'account.zip', className: "xuer-line2"
        render 'form-address-select'
        render 'form-checkbox', id: 'address-new[default]', name: "address[default]", label: 'account.set_as_default', className: 'xuer-line2'
        render 'form-button', is_outline: true, text: 'account.add_addresses', className: 'xuer-line2', is_block: true, type: 'submit'
      -%}
    {%- endform -%}
  </xuer-address-form>
</template>
{% schema %}
{
  "name": "t:sections.main-addresses.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
