<xuer-mini-cart id="mini-cart-container">
  <form id="mini-cart-form" action="{{ routes.cart_url }}" novalidate method="post">
    <input type="hidden" name="checkout">
      {%- for cartItem in cart.items -%}
        <div class="mini-product_container xuer-line2" mini-product-item data-cart-id="{{ cartItem.id }}">
          <div class="mini-product_image_wrapper">
            {% render 'image', image: cartItem.image %}
          </div>
          <div class="mini-product_main">
            <a class="mini-product_title xuer-line">
              {{ cartItem.title }}
            </a>
            <div class="mini-product_options xuer-line">
              {% for opt in cartItem.options_with_values %}
                <span class="mini-product-item">{{ opt.value }}</span>
              {% endfor %}
            </div>
            <div class="mini-product_bottom xuer-line">
              {% render 'quantity-selector', size: 'mid', quantity: cartItem.quantity, trigger: 'mini-cart' %}
            </div>
            <div class="mini-product_remove" mini-cart-remove >
              {{ 'cart.remove' | t }}
            </div>
          </div>
          <div class="mini-cart_price">
            {% render 'price', product: cartItem, line_price: true %}
          </div>
        </div>
      {%- endfor -%}
      <form action="{{ routes.cart_url }}" method="post" id="cart-notification-form">
        <button
          type="submit"
          name="checkout"
          class="xuer-button xuer-button_outline xuer-button_block xuer-mid " 
          add-to-cart
        >
          <span>{{ 'cart.checkout' | t }}</span>
          <span class="mini-cart-total">({{ cart.total_price | money }})</span>
        </button>
      </form>
  </form>
</xuer-mini-cart>
