<xuer-mini-cart id="mini-cart-container">
  <form id="mini-cart-form" action="{{ routes.cart_url }}" novalidate method="post">
    <input type="hidden" name="checkout">
      {%- for cartItem in cart.items -%}
        <div class="mini-product_container" mini-product-item>
          <div class="mini-product_image_wrapper">
            {% render 'image', image: cartItem.image %}
          </div>
          <div class="mini-product_main">
            <a class="mini-product_title xuer-line">
              {{ cartItem.title }}
            </a>
            <div class="mini-product_options xuer-line">
              {% for opt in cartItem.options_with_values %}
                <span class="mini-product-item">{{ opt.value }}</span>
              {% endfor %}
            </div>
            <div class="mini-product_bottom xuer-line">
              {% render 'quantity-selector', size: 'mid', quantity: cartItem.quantity %}
            </div>
            <div class="mini-product_remove" mini-cart-remove data-cart-id="{{ cartItem.id }}">
              {{ 'cart.remove' | t }}
            </div>
          </div>
          <div class="mini-cart_price">
            {% render 'price', product: cartItem.product, line_price: true %}
          </div>
        </div>
      {%- endfor -%}
  </form>
</xuer-mini-cart>
