

	<style>
		.swiper-container {
			width: 100%;
			height: 100%;
			background-color: rgb(179, 189, 196);
			transition: 1s background-color 1.3s;
		}

		.swiper-wrapper {
			transition-delay: 1s;
			transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
		}

		.swiper-slide {
			text-align: center;
			font-size: 18px;
			/* Center slide text vertically */
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
		}

		.title {
			transition-delay: 1s;
			z-index: 10;
		}

		.title .text {
			font-weight: 700;
			font-size: calc(55px + 54 * ((53vw + 53vh) - 520px) / 820);
			letter-spacing: -1px;
			color: rgba(255, 255, 255, 0);
			-webkit-text-stroke: 2px #fff;
		}

		.img-box {
			width: 100%;
			height: 100%;
			position: absolute;
			transform: scale(0.6, 0.6);
			transition-duration: 1s;
			transition-property: transform;
			transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
			opacity: 0.9;
			overflow: hidden;
		}

		.img-box img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transform: scale(1.2, 1.2) translateX(50%);
			transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
			transition-property: transform;
		}
	</style>
  
<xuer-slideshow class="slideshow block" data-swiper-container="swiper-{{ section.id }}">
  <div 
    id="swiper-{{ section.id }}"
    data-swiper-loop="true"
    data-swiper-autoplay="false"
    data-swiper-speed="300"
  >
    <div class="swiper-wrapper">
      {%- for block in section.blocks -%}
        <div class="swiper-slide">
          <div class="img-box slideshow-image xuer-image-wrapper {{ section.settings.section_height }}" >
            {%- if block.settings.image != blank -%}
              {%- render 'image', image: block.settings.image -%}
            {%- else -%}
              <div class="xuer-placeholder-image xuer-full">
                {{- 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' -}}
              </div>
            {%- endif -%}
          </div>
          <div class="title slideshow-content" style="color:{{ settings.slideshow_text_color }}">
            <h2 class="slideshow-content_heading xuer-h2">
              {{ block.settings.heading }}
            </h2>
            <div class="slideshow-content_subheading">
              {{ block.settings.subheading }}
            </div>
            {% if block.settings.button_label != blank %}
              {% if block.settings.link != blank %}
                <a href="{{ block.settings.link }}">  
              {% endif %}
                  <div class="slideshow-content_button xuer-button {{ block.settings.button_type }}">
                    {{ block.settings.button_label }}
                  </div>
              {% if block.settings.link != blank %}
                </a>
              {% endif %}
            {% endif %}
          </div>
        </div>
      {%- endfor -%}
    </div>

		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
  </div>
</xuer-slideshow>
{% schema %}
{
  "name": "slideshow",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "section_height",
      "label": "Section height",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to first image"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "full",
          "label": "Full screen"
        },
        {
          "value": "fixed",
          "label": "Fixed height"
        }
      ],
      "default": "adapt"
    },
    {
      "type": "range",
      "id": "height_desktop",
      "min": 200,
      "max": 1000,
      "step": 20,
      "unit": "px",
      "label": "Desktop fixed height",
      "default": 600
    },
    {
      "type": "range",
      "id": "height_mobile",
      "min": 100,
      "max": 1000,
      "step": 20,
      "unit": "px",
      "label": "Mobile fixed height",
      "default": 460
    },
    {
      "id": "mobile_text_under",
      "type": "checkbox",
      "label": "Show text below image on mobile",
      "default": false
    },
    {
      "id": "effect",
      "type": "select",
      "label": "Effect",
      "default": "fade",
      "options": [
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "cube",
          "label": "Cube"
        },
        {
          "value": "flip",
          "label": "Flip"
        }
      ]
    },
    {
      "id": "show_arrow",
      "type": "checkbox",
      "label": "Show arrow",
      "default": true
    },
    {
      "id": "show_dots",
      "type": "checkbox",
      "label": "Show dots",
      "default": false
    },
    {
      "id": "autoplay",
      "type": "checkbox",
      "label": "Auto play slides",
      "default": true
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "min": 1,
      "max": 20,
      "step": 1,
      "unit": "s",
      "label": "Change slides every",
      "default": 7
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "slide",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Image slide",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "subheading",
          "default": "Tell your brand's story through images",
          "label": "Subheading"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "Button label"
        },
        {
          "type": "select",
          "id": "button_type",
          "options": [
            {
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "filled",
              "label": "Filled"
            }
          ],
          "default": "filled",
          "label": "Button type"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "slideshow",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
