{% style %}
#xuer-video-{{ section.id }}{
  height: {{ section.settings.section_height_desktop }}px;
  --text_color: {{ section.settings.text_color }};
  --desktop_heading_text_size: {{ section.settings.desktop_heading_text_size }}px;
}
{% endstyle %}

<div class="xuer-video-container {% if section.settings.full_width == false %} page_width {% endif %} " id="xuer-video-{{ section.id }}">
  {% if section.settings.subheading != blank or section.settings.title != blank or section.settings.text != blank %}
    <div class="xuer-video_content xuer-animated xuer-animated-opacity" xuer-animated>
      <h4 class="xuer-video_subheading xuer-line2">
          {{ section.settings.subheading | escape }}
      </h4>
      <h2 class="xuer-video_title xuer-h2 xuer-line4">
        {{ section.settings.title }}
      </h2>
      <p class="xuer-video_text">{{ section.settings.text }}</p>
    </div>
  {% endif %}
  <xuer-video 
    class="xuer-video" 
    data-provider="{{ section.settings.video_url.type }}"
    data-video-ratio="{{ section.settings.video_ratio }}"
  >
    {% render 'image', image: section.settings.image, image_wrapper_class: "video-placehlder", is_cover: true %}

    <template>
      {%- if section.settings.video_url.type == 'youtube' -%}
        <iframe title="{{ section.settings.title | escape }}" src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?playsinline=1&autoplay=1&controls=0&mute=1&loop=1&playlist={{ section.settings.video_url.id }}&enablejsapi=1&rel=0&modestbranding=1&origin={{ 'https://' | append: request.host | url_encode }}" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"></iframe>
        {%- elsif section.settings.video_url.type == 'vimeo' -%}
        <iframe title="{{ section.settings.title | escape }}" src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}?autoplay=1&autopause=1&background=1&loop=1&muted=1&transparent=0&responsive=1&portrait=0&title=0&byline=0&color={{ settings.text_color | remove_first: '#' }}" allow="autoplay; encrypted-media;" allowfullscreen="allowfullscreen"></iframe>
      {%- endif -%}
    </template>
  </xuer-video>
  
</div>

{% schema %}
{
  "name": "t:sections.video.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Tell your story"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Use a video to get a customer's attention</p>"
    },
    {
      "type": "range",
      "id": "desktop_heading_text_size",
      "min": 20,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Desktop heading text size",
      "default": 58
    },

    {
      "type": "video_url",
      "id": "video_url",
      "accept": [
        "vimeo",
        "youtube"
      ],
      "label": "Video",
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Cover image",
      "info": "2000 x 1125px .jpg recommended."
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "section_height_desktop",
      "min": 200,
      "max": 1000,
      "step": 20,
      "unit": "px",
      "label": "Desktop section height",
      "default": 300
    },
    {
      "type": "range",
      "id": "video_ratio",
      "min": 50,
      "max": 70,
      "step": 1,
      "unit": "px",
      "label": "Desktop section height",
      "default": 56
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "video"
    }
  ]
}
{% endschema %}
